<%= form_for(property_owner) do |f| %>
  <% if property_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property_owner.errors.count, "error") %> prohibited this property_owner from being saved:</h2>

      <ul>
      <% property_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :owner_address %>
    <%= f.text_field :owner_address %>
  </div>

  <div class="field">
    <%= f.label :owner_phone %>
    <%= f.text_field :owner_phone %>
  </div>

  <div class="field">
    <%= f.label :number_of_properties %>
    <%= f.number_field :number_of_properties %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
