<% content_for :title do %>
  <h2>Create New User</h2>
<% end %>
   <div class="form-group">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email, :class => 'form-control' %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </p>
      <p>
        <%= f.label :type, "Property Owner" %>
        <%= f.check_box :type, {:class => 'form-control'}, "PropertyOwner", "Tenant" %>
      </p>
       <p>
        <%= f.label :type, "Tenant" %>
        <%= f.check_box :type, {:class => 'form-control'}, "Tenant", "PropertyOwner" %>
      </p>
     <p class="button"><%= f.submit "Create User", :class => 'btn btn-default' %></p>
    <% end %>
   </div>


