<p id="notice"><%= notice %></p>

<p>
  <strong>Property title:</strong>
  <%= @property.property_title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Number of units:</strong>
  <%= @property.number_of_units %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
