<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @property_owner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @property_owner.last_name %>
</p>

<p>
  <strong>Email</strong>
  <%= @property_owner.email %>
</p>
<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', property_owners_path %>
