<!DOCTYPE html>
<html>
  <head>
    <title>Online Rental Payment Thingy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
    <div class="container">
       <div class="jumbotron">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
          <header>
            <div class="page-header">
              <%= yield :title %>
            </div>
          </header>

       </div>

      <%= yield %>
    </div>
  </body>
</html>
